<div class="col-md-3 ">
  <div class="card text-center border-0">
    <div class="card-body">
      <h6 class="text-muted mb-1"><%= title %></h6>
      <h4 class="mb-0 fw-bold"><%= value %></h4>
    </div>
  </div>
</div>
